[Desktop Entry]
Name=Celestia
Comment=A real-time visual space simulation
Comment[pl]=Symulacja przestrzeni kosmicznej w czasie rzeczywistym
Icon=celestia
Exec=celestia %f
Terminal=false
Type=Application
MimeType=application/x-celestia-script;
Categories=Qt;KDE;Education;Science;Astronomy;
# vi: encoding=utf-8
