[Desktop Entry]
Encoding=UTF-8
Name=Celestia
Comment=A real-time visual space simulation
Comment[pl]=Symulacja przestrzeni kosmicznej w czasie rzeczywistym
Icon=celestia.png
Exec=celestia
Terminal=0
Type=Application
Categories=Qt;KDE;Education;Science;Astronomy
# vi: encoding=utf-8
